@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=DM+Serif+Display:ital@0;1&display=swap');
@import 'tailwindcss';
@plugin "daisyui";

@theme {
	--color-turquoise: #14a998;
	--color-orange: #d7c094;
	--font-display: 'DM Serif Display';
	--font-sans: 'DM Sans', sans-serif;
}

@layer base {
	body {
		@apply font-sans;
	}
	h1 {
		@apply text-6xl font-display;
	}
	button {
		@apply btn rounded-3xl font-bold uppercase text-white;
	}
}
